//docker.enabled = true

// https://www.nextflow.io/docs/latest/awscloud.html#awscloud-batch
process.executor = 'awsbatch'
process.queue = 'TEST-nextflow-batch-queue'
aws.region = 'us-east-2'

//process.container = 'jchap14/nextflow-test:latest'
//process.container = 'job-definition://<aws-batch-nextflow-job-name>'

